<!-- Tag for Activity Group: IP158907, Activity Name: Radio Disney Landing Page~IP158907, Activity ID: 2604242 -->
<!-- Expected URL: http://www.radiodisneyapp.com -->

<!--
Activity ID: 2604242
Activity Name: Radio Disney Landing Page~IP158907
Activity Group Name: IP158907
-->

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Radio Disney Landing Page~IP158907
URL of the webpage where the tag is expected to be placed: http://www.radiodisneyapp.com
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 07/29/2015
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://4996767.fls.doubleclick.net/activityi;src=4996767;type=ip158907;cat=radio0;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://4996767.fls.doubleclick.net/activityi;src=4996767;type=ip158907;cat=radio0;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->



<div class="wrap">
  <div id="error">
    <img id="disney" src="https://s3.amazonaws.com/myfangate.com/radiodisneyapp/radiodisneylogo.jpg">
    <h1>Please Select Your Platform</h1>
    <div id="logowrap">
      <span class="apple">
        <a href="http://bit.ly/1h4tYaU"><img src="https://s3.amazonaws.com/myfangate.com/radiodisneyapp/apple.jpg"></a>
      </span>
      <span class="google">
        <a href="http://bit.ly/1f7t6Zj"><img src="https://s3.amazonaws.com/myfangate.com/radiodisneyapp/google.jpg"></a>
      </span>
    </div>
  </div>
</div>