<!-- Tag for Activity Group: IP158907, Activity Name: Radio Disney Landing Page~IP158907, Activity ID: 2604242 -->
<!-- Expected URL: http://www.radiodisneyapp.com -->

<!--
Activity ID: 2604242
Activity Name: Radio Disney Landing Page~IP158907
Activity Group Name: IP158907
-->

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Radio Disney Landing Page~IP158907
URL of the webpage where the tag is expected to be placed: http://www.radiodisneyapp.com
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 07/29/2015
-->
<script type="text/javascript">
// var axel = Math.random() + "";
// var a = axel * 10000000000000;
// document.write('<iframe src="https://4996767.fls.doubleclick.net/activityi;src=4996767;type=ip158907;cat=radio0;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<!-- <iframe src="https://4996767.fls.doubleclick.net/activityi;src=4996767;type=ip158907;cat=radio0;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe> -->
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->

<div id="iphone-right" class="hidden-xs hidden-sm">
  <img class="full-w" src="http://crossorigin.me/http://s3.amazonaws.com/myfangate.com/rdjuniorapp/iPhone-Right.png">
</div>

<div id="iphone-left" class="hidden-xs hidden-sm">
  <img class="full-w" src="http://crossorigin.me/http://s3.amazonaws.com/myfangate.com/rdjuniorapp/iPhone-Left.png">
</div>

<div class="container wrap">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 col-lg-2 col-lg-offset-5">
      <img id="disney" class="full-w" src="http://crossorigin.me/http://s3.amazonaws.com/myfangate.com/rdjuniorapp/applogo.jpg">
    </div>
    <div class="col-xs-12 col-lg-12 text-center">
      <h1>Please Select Your Platform</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-lg-3 col-lg-offset-3 text-center apple">
      <a href="http://crossorigin.me/http://itunes.apple.com/us/app/radio-disney-junior/id1050711248?mt=8"><img class="full-w" src="http://crossorigin.me/https://s3.amazonaws.com/myfangate.com/radiodisneyapp/apple.jpg"></a>
    </div>
    <div class="col-xs-6 col-xs-offset-3 col-lg-3 col-lg-offset-0 text-center google">
      <a href="#"><img class="full-w" src="http://crossorigin.me/http://s3.amazonaws.com/myfangate.com/radiodisneyapp/google.jpg"></a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <img class="full-w download" src="http://crossorigin.me/https://s3.amazonaws.com/myfangate.com/rdjuniorapp/Top-Text.png">
    </div>
  </div>
</div>

<div id="skew"></div>
<div id="red-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <img class="full-w" src="http://crossorigin.me/http://s3.amazonaws.com/myfangate.com/rdjuniorapp/Bottom-Text.png">
      </div>
    </div>
  </div>
</div>
